 html, body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: black;
    }
    canvas {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }

    #starheader{
      background-color:black;
      overflow: hidden;
      border: 3px;
      border-color: white;
      border-bottom-style: outset;
      
    }

    #logo{
      width:230px;
      height:60px;
      padding: 15px;
      margin-top: px;
      margin-left : 30px;
      margin-bottom: px;
    }

    #home{
      font-size: 20px;
      padding-right: 10x;
      padding-right:10px;
    }
    #prices{
      font-size: 20px;
      padding-right: 10x;
      padding-right:10px;
    }
    #feature_page{
      font-size: 20px;
      padding-right: 10x;
      padding-right:10px;
    }
    #team{
      font-size: 20px;
      padding-right: 10x;
      padding-right:10px;
    }