    nav {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       padding: 31px;
    }
    
    nav ul {
       display: flex;
       list-style: none;
       margin-left: 0px;
       padding: 40px;
       gap: 1em;
       position:absolute;
    }

    nav li {
       font-family: "Montserrat", Arial, sans-serif;
    }

    nav ul a {
       display: block;
       color: white;       
       padding: 20px 20px;
       position: relative;
       text-decoration: none;
       transition: color 0.2s;
    }

    nav a::after {
       content: '';
       display: block;
       height: 3px;
       width: 100%;
       background: #ffc200;
       position: absolute;
       left: 0;
       bottom: 0;
       transform: scaleX(0) translateY(-10px);
       transition: transform 0.3s;
    }

    nav a:hover::after {
       transform: scaleX(0.7) translateY(-10px);
    }

    nav a:active {
       color: #ffc200;
    }

    #name-logo {
       position: absolute;
       top: 20px;
       left: 90px;
       width: 142px;
       height: 25px;
    }

    #planet-logo {
       position: absolute;
       top: 20px;
       left: 20px;
       width: 50px;
       height: 25px;
    }

    @media screen and (max-width: 800px) {
      #planet-logo {
        display: none;
      }
      #name-logo {
        display: none;
      }
      
    }

nav a:hover::after {
  transform: scaleX(1) translateY(6px);
}

#logopic{
width: 170px;
height:50px;
}
