    nav {
       position: relative;
       top: 0;
       left: 0;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-end;
       padding: 31px;
       gap:1.5cm;
    }

    nav a{
      color: white;
      text-decoration: none;
      font-family: "Montserrat", Arial, sans-serif;
      transition: color 0.3s;
    }
    
    nav ul {
       display: flex;
       list-style: none;
       margin-left: 0px;
       padding: 0px;
       gap: 1.5em;
       position:absolute;
    }

    nav li {
       font-family: "Montserrat", Arial, sans-serif;
    }

    nav ul a {
       display: block;
       color: white;       
       padding: 20px 20px;
       position: relative;
       text-decoration: none;
       transition: color 0.2s;
    }

    nav a::after {
       content: '';
       display: block;
       height: 3px;
       width: 100%;
       background: #ffc200;
       position: absolute;
       left: 0;
       bottom: 0;
       transform: scaleX(0) translateY(-10px);
       transition: transform 0.5s;
    }

    nav a:hover::after {
       color: #ffc200;
    }

    nav a:active {
       color: #ffc200;
    }

    #name-logo {
       position: absolute;
       top: 20px;
       left: 90px;
       width: 142px;
    }

    #planet-logo {
       position: absolute;
       top: 20px;
       left: 20px;
       width: 50px;
       height: 25px;
    }

    @media screen and (max-width: 800px) {
      #planet-logo {
        display: none;
      }
      #name-logo {
        display: none;
      }
      
    }

nav a:hover::after {
  transform: scaleX(1) translateY(6px);
}

#logopic{
width: 170px;
height:50px;
}

html, body {
   margin: 0;
   padding: 0;
   background: black;
   min-height: 10vh;
   overflow-x: hidden;
   padding-top: 75px;
   }
   canvas {
   display: block;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   }

   canvas#stars{
      position: fixed;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
      pointer-events: none;
   }

   .starheader{
   background-color:black;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0;
   height: 70px;
   overflow: hidden;
   position: fixed;
   z-index: 10;
   }

   #logo{
   width:230px;
   height:60px;
   padding: 15px;
   margin-top: px;
   margin-left : 30px;
   margin-bottom: px;
   }

   #logopic{
   width:130px;
   height:70px;
   margin-left: 20px;
   }
.hero{
   padding-top:140px;
}

main, .hero{
   position: relative;
   z-index: 1;
   color:#fff;

}
   