.Interstellar{
   color: white;
   text-align: center;
   font-family: "Bruno Ace SC", sans-serif;
   position: relative;
   font-size: 60px;
   margin-top:10px;
   z-index: 2;
   background-color: transparent;
}

.title{
   display: grid;
   gap: 12px;
   text-align: center;
   font-family: "Bruno Ace SC", sans-serif;
   letter-spacing:1px;
   background-color: transparent;
}

.title .Interstellar{
   font-size: clamp(40px,8vw,96px);
   color:#fff;
   background-color: trans;
}

.title .sub{
   color:#fff;
   font-family: "Bruno Ace SC", sans-serif;
   font-weight: 950;
   text-transform: uppercase;
   background-color: transparent;
}

.title .sub em{
   font-style: normal;
   color: #ffc200;
   background-color: transparent;
}

#easy{
   transition: opacity 0.5s ease-in-out;
}

.fade-out{
   opacity:0;
}