 html, body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background: black;
    }
    canvas {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .starheader{
      background-color:black;
      overflow: hidden;
      border-bottom: 3px solid white;
      margin-bottom: 24px;
    }

    #logo{
      width:230px;
      height:60px;
      padding: 15px;
      margin-top: px;
      margin-left : 30px;
      margin-bottom: px;
    }